<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="74d2be9d-c32d-4de9-8a42-146c55c7d627" Publisher="CN=Nicolas" Version="1.0.0.0" />
  <Properties>
    <DisplayName>DsmWebApi.WindowsStoreClient</DisplayName>
    <PublisherDisplayName>Nicolas VINCENT</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DsmWebApi.WindowsStoreClient.App">
      <VisualElements DisplayName="DSM Hub" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Access the features of your Synology NAS from your Windows device." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>